.navbar__toggle_btn{
  border: none;
  background-color: transparent;
  color: aliceblue;
}

.home{
  width: 100%;
  height: 100%;
}
#navbar{
  color: white;
}

  .navbar__menu{
    margin: 0;
    position: fixed;
    top:1.5%;
    right:2.5%;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 18px;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 1;
  }

  .navbar__menu__item.active {
    border: solid 2px white;
    padding: 8px 8px;
    border-radius: 4px;
  }

  .navbar__menu li:hover{
    cursor: pointer;
    background-color: darkblue;
    padding: 8px 8px;
    border-radius: 4px;

  }
  
.home__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home__container img{
  width: 150px;
  height: 150px;
  border: solid 1px white;
  border-radius: 50% 50%;
}

.home__title{
  font-size: 32px;
  text-align: center;
  margin: 12px 12px;
}
.home__description{
  text-align: center;
  font-size: 18px;
  margin: 12px 12px;
}

.home__contact{
  margin-top: 12px;
  background-color: transparent;
  padding: 12px 12px;
  color: white;
  cursor: pointer;
  border: solid 1px white;
  
}

  .web_logo{
    position: absolute;
    top:2.5%;
    left:2.5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color:white;
  }
  .main_contents{
    position: absolute;
    top:10%;
    left:20%;
    width: 45%;
    height: 50%;
    padding: 100px 100px;
    border: 5px solid white;
    border-radius: 50px;
    color: white;
    
  }
  
  
  .about {
    width: 100%;
    height: 100%;
  }
  .positions{
    display: flex;
    justify-content: space-around;
    top:50%;
    width: 100%;
    margin: 36px 0px;
  }

  .positions .frontend{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .positions .backend{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .positions img{
    width: 20%;
    height: 20%;
    
  }
  .aboutMe{
    flex-wrap:nowrap;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 36px;
  }
  .about h2{
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .aboutFrame{
    position: absolute;
    top:110%;
    left:20%;
    width: 45%;
    height: 50%;
    padding: 100px 100px;
    border: 5px solid white;
    border-radius: 50px;
    color: white;

  }
  .web_logo2{
    position: absolute;
    top:2.5%;
    left:2.5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color:white;
  }
  .web_logo3{
    position: absolute;
    top:2.5%;
    left:2.5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color:white;
  }
  .skills{
    width: 100%;
    height: 100%;
  }

  .skillFrame h1{
    margin: 0;
    font-size: 36px;
  }
  .skillFrame h2{
    margin-bottom: 0;
    font-size: 18px;
  }
  .skillFrame{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:210%;
    left:20%;
    width: 45%;
    height: 50%;
    padding: 100px 100px;
    border: 5px solid white;
    border-radius: 50px;
    color: white;
  }
  
  .skillset{
    width: 100%;
    display: flex;
    margin: 0;
    background-color: lightgray;
  }

  .skillset__left{
    flex-basis: 60%;
    background-color: rgb(83, 83, 83);
    padding: 5px 40px;
  }
  
  .skillset__right{
    flex-basis:40%;
  }

  .skill__description{
    display: flex;
    justify-content: space-between;
  }

  .skill__bar{
    width: 100%;
    height: 3px;
    background-color: gray;
  }
  .skill{
    margin-bottom: 8px;
  }

  .skill__value{
    height: 3px;
    background-color: orange;

  }
  .web_logo4{
    position: absolute;
    top:2.5%;
    left:2.5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color:white;

  }
  .work{
    width: 100%;
    height: 100%;
  }

  .myWorkFrame{
    position: absolute;
    top:310%;
    left:20%;
    width: 45%;
    height: 50%;
    padding: 100px 100px;
    border: 5px solid white;
    border-radius: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .myWorkFrame h1{
    font-size: 36px;
    margin: 0;
  }
  myWorkFrame h3{
    margin: 0;
    padding: 0;
  }


  .web_logo5{
    position: absolute;
    top:2.5%;
    left:2.5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color:white;

  }
  .work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project{
    display: flwx;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2px;

  }

  .project__img{
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    background-color: white;
  }

  .project__description{
    
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 100ms ease-in;
    transform: translateY(10px);
  }

  .project:hover .project__description{
   opacity: 0.8;
   transform: translateY(0px);

  }

  .project__description h3{
    font-size: 16px;
    text-align: center;
  }
  .project__description span{
    text-align: center;
    font-size: 12px;

  }
  .contact{
    width: 100%;
    height: 100%;
  }

  
  .contactFrame{
    position: absolute;
    top:410%;
    left:20%;
    width: 45%;
    height: 50%;
    padding: 100px 100px;
    border: 5px solid white;
    border-radius: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__title{
    font-size: 36px;
  }
  .contact__email{
    font-size: 24px;
  }

  .contact__links img{
    margin: 24px 24px;
    width: 100px;
    height: 100px;
  }

  .navbar__toggle_btn{
    display: none;
    position: absolute;
    top:26px;
    right:0px;
    font-size: 24px;
  }
  

  @media screen and (max-width:768px){
    .h3{
      font-size: 16px;
    }
    .h1{
      font-size: 24px;
    }
    h2{
      font-size: 20px;
    }
    .navbar__toggle_btn{
      display: block;
      position: fixed;
      z-index: 1;

    }
    #navbar{
      flex-direction: column;
      align-items: center;
    }
    .navbar__menu {
      width: 100%;
      background-color: aquamarine;
      flex-direction: column;
      text-align: center;
    }
    .navbar__menu__item{
      width: 100%;
    }
    .hidden{
      display: none;
    }
    
  }