* {
  font-family: "Mukta";
  font-size: 22px;

}

:root {
  --font-size-small: "24px";
  --font-size-medium: "36px";
  --font-size-large: "48px";
}

body {
  width: 100%;
  background: rgb(243, 243, 226);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Mukta";
  font-size: 6vh;
}

h2 {
  font-family: 'Mukta';
  font-size: 24px;
}

p {
  font-size: 2.7vh;
  font-family: 'Mukta';
  text-align: left;
}

.navbar__toggle_btn {
  margin: 0px 12px;
  border: none;
  background-color: transparent;
  color: gray;
  display: none;
  position: absolute;
  top: 1%;
  right: 10%;
  font-size: 24px;
}



.navbar__menu {
  margin: 0;
  position: fixed;
  top: 1.5%;
  right: 5.5%;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 18px;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1;
}

.navbar__menu__item.active {
  border: solid 2px black;
  padding: 8px 8px;
  border-radius: 4px;
}

.navbar__menu li:hover {
  cursor: pointer;
  color: rgb(153, 210, 230);
  padding: 8px 8px;
  border-radius: 4px;
}


.web_logo {
  position: fixed;
  top: 1%;
  left: 10.5%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: black;
}

.web_logo img {
  width: 15%;
  border-radius: 50%;
}

.homepage {
  margin-top: 5%;
  width: 80%;
  box-shadow: 0 0 10px 5px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

/* Home Section */

.home {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  margin: 8% 0;

}

.home__container {
  width: 100%;
  display: flex;
  align-items: center;

}

.introduceMe {
  padding: 24px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.role {
  font-family: 'Mukta';
  font-weight: 500;
  font-size: 32px;
  margin: 12px;
  animation: appear 2s;
}

.home__container img {
  width: 100%;
  height: 100%;
}


.home__title {
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0px;
  width: 100%;
}

.title-word {
  animation: color-animation 4s linear infinite;
  font-size: 48px;
  font-weight: 800;
  margin: 12px 12px;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.myCharacter {
  width: 52px;
  height: 52px;
}

.home__description {
  width: 65%;
  margin: 0px 12px;
  margin-left: 25%;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 3s;
  font-size: 24px;
  margin-bottom: 32px;
}

.home__contact {
  text-align: center;
  margin-top: 12px;
  background-color: transparent;
  padding: 12px 12px;
  color: rgb(80, 80, 80);
  cursor: pointer;
  border: solid 1px black;
  animation: appear 2s ease-in;
}

.home__contact:hover {
  background-color: #ACCFCB;
  color: white;
}

/* About Section */

.about {
  width: 100%;
  text-align: center;
  background-color: #f5f3e9d4;
  display: flex;
  justify-content: center;
}


.about h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.aboutFrame {
  display: block;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 8%;
  margin-bottom: 5%;
  color: black;
}

.aboutFrame img {
  margin: 24px 0px;
}

.about_contents{
  width: 90%;
  margin-left: 5%;
  margin: 36px;
}

.about_contents p {
  margin: 0px 0;
  text-align:justify;
  text-indent: 30px;
}

/* Position */
.BasicSkills {
  width: 80%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 106px;
}

.positions {
  background-color: beige;
  width: 100%;
  display: flex;
  border-radius: 15px;
}

.position_description {
  width: 100%;
  display: flex;
  /* flex-basis: 60%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.position_description h2{
  margin-left: 40px;
  font-size: 18px;  
  margin-bottom: 8px;
}
.position_description ul{
  margin: 8px 0;
}

.position_description li{
  text-align: left;
  font-size: 16px;
  margin: 0px 18px;
}

.frontend {
  width: 80%;
  margin: 6px 12px;
  margin-top: 24px;
  padding: 18px 0;
  padding-right: 12px;
  background-color: rgb(210, 210, 187);
  border-radius: 15px;
}

.backend {
  width: 80%;
  margin: 6px 12px;
  margin-bottom: 24px;
  padding: 18px 0;
  padding-right: 12px;
  background-color: rgb(210, 210, 187);
  border-radius: 15px;
}

.position_img {
  width: 80%;
  position: relative;
  top:30%;
  right:5%;
  max-width: 350px;
}
.img_layer{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.position_img img{
  width: 120%;
  visibility: hidden;

}

/* Skill Section */

.skills {
  background-color: #f5f3e9d4;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;


}

.skill {
  margin: 12px 0px;
}

.skillFrame h1 {
  background: -webkit-linear-gradient(black, rgb(93, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 12px 0;
}

.skillFrame p {
  font-size: 20px;
  margin: 0px 12px;
  margin-bottom: 18px;
  text-indent: 30px;
}

.skillFrame span{
  font-size: 18px;
}

.skillFrame {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 100px 0px;
  color: black;
}


.skillset {
  box-shadow: 7px 5px 7px black;
  width: 100%;
  display: flex;
  margin: 0;
  border-radius: 20px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: #cdc1b1;
  padding: 0px 40px;
  padding-bottom:48px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skillset_title{
  text-align: left;
  margin-bottom: 18px;
}

.skillset__right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e4dac2;
  text-align: start;
  flex-basis: 40%;
}

.tools {
  border-top-right-radius: 20px;
  width: 100%;
  background-color: #bead98;
  padding: 4px 0;
}

.tools__list {
  list-style: none;
  padding-left: 24px;
  margin: 0;
  margin-bottom: 12px;
}

.tools__list span {
  font-size: 16px;
}

.skillset__title {
  margin: 12px 24px;
  text-align: left;
  padding: 0px 0;
}

.etc__list {
  margin: 0;
  padding-left: 24px;
  margin-bottom: 18px;
  list-style: none;
}

.etc__list span {
  font-size: 16px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skill {
  margin-bottom: 8px;
}

.skill__value {
  height: 3px;
  width: 0%;
  background-color: #f2da52;
}

.skill__value:hover {
  transition-timing-function: linear;
  transition-duration: 3s;
  width: 50%;
}

/* My Work section */

.work {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.myWorkFrame {
  width: 80%;
  padding: 50px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myWorkFrame h1 {
  width: 100%;
  text-align: center;
  margin: 12px 12px;
  background: -webkit-linear-gradient(black, rgb(93, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myWorkFrame h3 {
  border-bottom: solid 2px;
  margin: 12px 12px;
  padding: 8px 0;
  text-align: center;
}

.work__projects {
  background-image: linear-gradient(to bottom, #b2afab, rgb(116, 150, 159));
  border-radius: 25px;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 12px;
  width: 100%;
  height: 100%;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: 23%;
  margin: 6px 12px;
}

.project__img {
  width: 100%;
  height: 90%;
  max-width: 100%;
  max-height: 90%;
  background-color: white;
  border-radius: 15px;
}

.project__description {
  color: white;
  width: 100%;
  height: 95%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 100ms ease-in;
  transform: translateY(10px);
  border-radius: 15px;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  font-size: 16px;
  text-align: center;
}

.project__description span {
  text-align: center;
  font-size: 18px;
}

.contact {
  background-image: linear-gradient(to bottom, #bfb09f, white);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.contactFrame {
  width: 100%;
  height: 90%;
  padding: 80px 100px;
  color: #5f574d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  font-size: 48px;
  background: -webkit-linear-gradient(#454039, rgb(93, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact__email {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}
.contact__links{
  background-color: #bbaa95;
  padding: 24px 24px;
  border-radius: 50px;
}

.contact__links i{
  margin: 24px 24px;
  color: #5f584e;
}
.contact__rights{
  margin-top:60px;
}




@media screen and (max-width: 1024px) {
  .title-word {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .role {
    font-size: 18px;
  }

  .home__description {
    font-size: 16px;
  }

  .skillFrame p {
    text-align: justify;
    font-size: 16px;
  }

  .skillFrame span {
    font-size: 16px;
  }

  .contact__email {
    font-size: 18px;
  }

  .myCharacter {
    width: 30px;
    height: 30px;
  }
  .positions {
    flex-direction: column;
  }
  .position_img{
    width: 100%;
    height: 400px;
    left: 10%;
    top:2%;
  }
  .position_img img{
    width: 80%;
  }

  .skillset {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .skill__bar {
    width: 100%;
  }

  .skillset__left {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .skillset__right {
    border-radius: 20px;
  }

  .skill__description span {
    font-size: 12px;
  }

  .tools {
    border-top-right-radius: 0;
  }

  #navbar {
    width: 100%;
  }

  .navbar__toggle_btn {
    display: block;
    position: fixed;
    z-index: 1;
  }

  .navbar__menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(#d7cdc0, #958877);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .navbar__menu__item {
    width: 100%;
  }

  .hidden {
    display: none;
  }


  .work__projects {
    width: 100%;
  }
  

  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 230px;
    margin: 12px 12px;
  }

  .project__img {
    width: 100%;
    height: 230px;
    max-width: 100%;
    max-height: 230px;
    background-color: white;
    border-radius: 15px;
  }

  .project__description {
    color: white;
    width: 100%;
    height: 230px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 100ms ease-in;
    transform: translateY(10px);
    border-radius: 15px;
  }

  .contact__links {
    text-align: center;
  }

  .contact__rights {
    text-align: center;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  p{
    text-align: center;
  }
  .home__description{
    margin: 0;
  }
  .aboutFrame{
    width: 90%;
  }
  .about_contents{
    margin: 0;
    width: 100%;
    text-align:start;
  }
  
  .position_img img{
    width: 80%;
  }
  .skillFrame{
    width: 87%;
  }
  .myWorkFrame{
    width: 100%;
  }
  .project {
    width: 100%;
    height: 150px;
    margin: 12px 12px;
  }

  .project__img {
    width: 100%;
    height: 150px;
    max-width: 100%;
    max-height: 150px;
    background-color: white;
    border-radius: 15px;
  }

  .project__description {
    color: white;
    width: 100%;
    height: 150px;
  }
}


@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  32% {
    color: var(--color-1)
  }

  33% {
    color: var(--color-2)
  }

  65% {
    color: var(--color-2)
  }

  66% {
    color: var(--color-3)
  }

  99% {
    color: var(--color-3)
  }

  100% {
    color: var(--color-1)
  }
}