* {
  font-family: "SUIT-Medium";
  font-size: 22px;
  
}
:root{
--font-size-small: "24px";
--font-size-medium: "36px";
--font-size-large:"48px";
}
body{
  background: beige;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

h1{
  /* font-family: "ONE-Mobile-Title"; */
}
h2{
  font-family: serif;
}

.navbar__toggle_btn {
  margin: 0px 12px;
  border: none;
  background-color: transparent;
  color: gray;
}



.navbar__menu {
  margin: 0;
  position: fixed;
  top: 1.5%;
  right: 5.5%;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 18px;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1;
}

.navbar__menu__item.active {
  border: solid 2px black;
  padding: 8px 8px;
  border-radius: 4px;
}

.navbar__menu li:hover {
  cursor: pointer;
  color: lightblue;
  padding: 8px 8px;
  border-radius: 4px;
}


.web_logo {
  position: fixed;
  top: 0.5%;
  left: 10.5%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: gray;
}
.homepage{
  margin-top: 5%;
  width: 80%;
  box-shadow: 0 0 10px 5px rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

/* Home Section */

.home {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  margin: 8% 0;
 
}
.home__container{
  width: 100%;
  display: flex;
  align-items: center;

}
.introduceMe{
  padding: 24px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scrollDown{
  width: 3%;
  height: 7%;
  position: relative;
  top:105%;
  right: 50%;

}
.role{
  font-family: serif;
  font-weight: bold;
  animation: appear 2s;
}

.home__container img{
  width: 100%;
  height: 100%;
}


.home__title {
  text-transform: uppercase;
  text-align: center;
  margin: 24px 12px;
}
.title-word {
  animation: color-animation 4s linear infinite;
  font-size: 48px;
  font-weight: 800;
  margin: 12px 12px;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
.home__description {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-large);
  margin: 36px 12px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 3s;

}

.home__contact {  
  text-align: center;
  margin-top: 12px;
  background-color: transparent;
  padding: 12px 12px;
  color: black;
  cursor: pointer;
  border: solid 1px black;
}
/* About Section */

.about {
  width: 100%;
  text-align: center;
  background-color: #f5f3e9d4;
}

.aboutMe {
  font-size: 48px;
  flex-wrap: nowrap;
  margin:0;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: center;
}
.about h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--font-small);
}

.aboutFrame {
  display: block;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 10% 0 ;
  font-size: var(--font-small);
  font-family: 'Courier New';
  color: black;
}
.aboutFrame img{
  margin: 24px 12px;
}
/* Position */
.BasicSkills{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.positions{
  background-color: beige;
  width: 80%;
  display: flex;
  border-radius: 15px;
}
.position_description{
  width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.position_description h1{
  margin: 12px;
}
.position_description h2{
  font-size: 16px;
  margin: 0;
}
.frontend{
  width: 80%;
  margin: 0;
  padding: 0;
}
.position_img{
  flex-basis: 50%;
}
.desk{
  position: relative;
  bottom: -40%;
  right: -10%;
  width: 60%;
  animation: appear 2s ease-in;
}
.desktop{
  position: relative;
  bottom: 5%;
  right: 35%;
  width: 30%;
  animation: appear 2s;
}
.me{
  position: relative;
  bottom: 48%;
  right: -21%;
  width: 30%;
  animation: appear 2s;
}
.chair{
  position: relative;
  bottom: 10%;
  right: 15%;
  width: 40%;
  animation: appear 2s;
}
/* Skill Section */

.skills {
  background-color: wheat;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
 
 
}
.skill {
  margin: 18px 0px;
}

.skillFrame h1 {
  background: -webkit-linear-gradient(black, rgb(93, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 24px 0;
  font-size: 48px;
}
.skillFrame p {
  margin-bottom: 0;
  font-size: 24px;
  margin: 24px 12px;
}
.skillFrame {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 60%;
  height: 100%;
  padding: 100px 100px;

  color: black;
}
.skillFrame h1 {
  font-size: 48px;
  color: lightgray;
}

.skillset {
  box-shadow: 7px 5px 7px black;
  width: 100%;
  display: flex;
  margin: 0;
  
  border-radius: 20px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: rgb(83, 83, 83);
  padding: 5px 40px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.skillset__right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: lightgray;
  text-align: start;
  flex-basis: 40%;
}
.tools{
  border-top-right-radius: 20px;
  width: 100%;
  background-color: #787a7b;
  padding: 4px 0;
}
.tools__list{
  list-style: none;
}
.tools__list span {
  font-size: 16px;
}
.skillset__title{
  margin: 0;
  text-align: center;
  padding: 12px 0;
}
.etc__list{
  list-style: none;
}
.etc__list span {
  font-size: 16px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}
.skill {
  margin-bottom: 8px;
}

.skill__value {
  height: 3px;
  width: 0%;
  background-color: orange;
}
.skill__value:hover {
  transition-timing-function: linear;
  transition-duration: 3s;
  width: 50%;
}

/* My Work section */

.work {
  background-color:  white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.myWorkFrame {
  width: 80%;
  height: 50%;
  padding: 50px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myWorkFrame h1 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  margin: 12px 12px;
  background: -webkit-linear-gradient(black, rgb(93, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.myWorkFrame h3 {
  border-bottom: solid 2px;
  margin: 12px 12px;
  padding: 8px 0;
  text-align: center;
}

.work__projects {
  background-image: linear-gradient(to bottom, rgb(102, 3, 152), rgb(106, 209, 237));
  border-radius: 25px;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 12px;
  width: 100%;
  /* border-top: solid;
  border-width: 4px; */
  /* border-image: linear-gradient(to right, rgb(102, 3, 152), rgb(106, 209, 237))
    1; */
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: 230px;
  margin: 12px 12px;
}

.project__img {
  width: 100%;
  height: 95%;
  max-width: 100%;
  max-height: 95%;
  background-color: white;
  border-radius: 15px;
}

.project__description {
  color: white;
  width: 100%px;
  height: 230px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 100ms ease-in;
  transform: translateY(10px);
  border-radius: 15px;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  font-size: 16px;
  text-align: center;
}
.project__description span {
  text-align: center;
  font-size: 18px;
}
.contact {

  background-image: linear-gradient(to bottom,rgb(134, 180, 245), white );
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.contactFrame {
  width: 100%;
  height: 100%;
  padding: 100px 100px;

  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  font-size: 48px;
  background: -webkit-linear-gradient(black, rgb(93, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact__email {
  font-size: 24px;
}

.contact__links img {
  margin: 24px 24px;
  width: 100px;
  height: 100px;
}

.navbar__toggle_btn {
  display: none;
  position: absolute;
  top: 26px;
  right: 0px;
  font-size: 24px;
}

@media screen and (max-width: 1024px){
  .home{
    height: 120%;
  }
  .skillset{
    flex-direction: column;
  }
  .skillset__left{  
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .skillset__right{
    border-radius: 20px;
  }
  .tools{
  border-top-right-radius:0 ;
  }
  .navbar__toggle_btn {
    display: block;
    position: fixed;
    z-index: 1;
  } 
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar__menu {
    width: 100%;
    background-image: linear-gradient(rgb(63, 2, 75), rgb(203, 0, 254));
    flex-direction: column;
    text-align: center;
  }
  .navbar__menu__item {
    width: 100%;
  }
  .hidden {
    display: none;
  }

  .skillset {
    width: 90%;
    display: flex;
    margin: 0;
    background-color: lightgray;
  }
  .skill__bar {
    width: 100%;
  }
  


  .work__projects{
    width: 100%;
  }
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 12px 12px;
  }
  
  .project__img {
    width: 100%;
    height: 300px;
    max-width: 100%;
    max-height: 300px;
    background-color: white;
    border-radius: 15px;
  }
  
  .project__description {
    color: white;
    width: 100%;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 100ms ease-in;
    transform: translateY(10px);
    border-radius: 15px;
  } 
  .contact__links{
    text-align: center;
  }
  .contact__rights{
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .home {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 45%;
    height: 90%;
    padding: 15% 8%;
    border: 5px solid white;
    border-radius: 50px;
    color: white;
  
  }
  .positions{
    flex-direction: column;
  }
  .project {


    height: 200px;
   
  }
  
  .project__img {
 
    height: 200px;
 
  }
  
  .project__description {
    height: 200px;
  }
  
}



@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes appear{
  from {opacity: 0;}
  to {opacity: 1;}
}