:root {
  --margin-small: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.home > .navbar > .homeLogo {
  display: flex;
  align-items: center;
}

.home > .navbar > .homeLogo > .title {
  margin: var(--margin-small);
}

.home > .navbar > .homeLogo > .logo {
  width: 40px;
  height: 40px;
  margin: var(--margin-small);
}

.home > .navbar > .home_Opt {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.home > .navbar > .home_Opt > li {
  padding: 16px 8px;
}
